ipykernel
matplotlib
numpy
https://github.com/OpenTrafficCam/downloads/blob/master/GDAL-3.4.3-cp39-cp39-win_amd64.whl?raw=true
# For rasterio you may need to first install "Desktop development with C++" from 
# https://visualstudio.microsoft.com/visual-cpp-build-tools/
https://github.com/OpenTrafficCam/downloads/blob/master/rasterio-1.2.10-cp39-cp39-win_amd64.whl?raw=true
earthengine-api